.todo-app a {
    flex: 0 0 100px;
}

.tasl-list li {
    list-style: none;
    padding: 0.5rem 0.75rem;
    border: 1px solid #333333;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasl-list li .btn {
    opacity: 0;
    transition: all .2s ease;
}

.tasl-list li:hover .btn {
    opacity: 1;    
}

.tasl-list li.completed {
    border: 1px solid #259725;
    color: green;
    background-color: #d9f1d9;
}